.container {
  background-color: #ffffc3;
  padding: 20px;
}
.rowcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.newlistBtn {
  background-color: #7393b3;
  color: white;
  padding: 12px 20px;
  border: none;
  width: 130px;
}
.resetlistBtn {
  background-color: #7393b3;
  color: white;
  padding: 15px 20px;
  border: none;
  margin-left: 20px;
  width: 130px;
}
.pageWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex: 1;
}
.footer {
  background-color: beige;
  border-top: 1px solid #ddd;
  color: #666;
  font-size: 14px;
  flex: 0.1;
}

.footerContent {
  max-width: 1200px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.centerWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.centerAddNew {
  padding: 12px 20px;
  font-size: 16px;
  background-color: #e75480;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.centerAddNew:hover {
  background-color: #005a8d;
}
